

#uno{
  float: left;
  padding: 40px;
  color: blue;
  width: 270px;
  margin: 50px;

}

#dos{
  float: left;
  padding: 40px;
  color: blue;
  width: 270px;
  margin: 50px;

}

#tres{
  float: left;
  padding: 40px;
  color: blue;
  width: 270px;
  margin: 50px;

}

#cuatro{
  float: left;
  padding: 40px;
  color: blue;
  width: 270px;
  margin: 50px;

}
